header {
    text-align: center;
    background-color: rgb(29, 90, 150);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vacancy_block {
    display: block;
    border: solid rgb(201, 201, 201);
    border-width: 1px;
    margin: 40px 600px;
    border-radius: 25px;
}

.vacancy_title {
    margin-left: 15px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.vacancy_salary {
    margin-left: 15px;
    margin-top: 8px;
    font-size: 19px;
}

.vacancy_experience {
    display: inline-block;
    margin-left: 15px;
    margin-top: 8px;
    font-size: 17px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    color: rgb(133, 132, 132);
    padding: 3px 3px;
}

.vacancy_type_of_employment {
    display: block;
    margin-left: 15px;
    margin-top: 8px;
    width: fit-content;
    font-size: 17px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    color: rgb(133, 132, 132);
    padding: 3px 3px;
}

.button-style {
    display: inline-block;
    margin-left: 275px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 17px 40px;
    border-width: 1px;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    background-color: rgb(31, 91, 152);
    transition-duration: 0.2s;
}

.button-style:hover {
    background-color: rgb(87, 155, 223);
}

.vacancy_block {
    transition: box-shadow 0.2s;
    /* Добавим плавный переход */
}

.vacancy_block:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    /* Горизонтальное смещение, вертикальное смещение, размытие и цвет*/
}

.no_vacancies {
    text-align: center;
    margin-top: 300px;
    font-size: 27px;
}

main {
    display: flex;
    /* Создаем гибкую структуру */
    flex-direction: column;
    /* Располагаем элементы вертикально */
    min-height: 85vh;
}

footer {
    text-align: center;
    /*     padding-top: 40px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: auto;
}
